<!--status Dashboard -->
<div class="container-fluid user-dashboard">
    <!--Admin Dashboard Head-->
    <div class="row container-fluid dashboard-head col-sm-12 col-lg-11" style="background-color: transparent;">
        <!-- Grid column -->
        <div class="col-md-12 mt-2 live wow animated zoomIn" style="color: white;background-color: #4188e0;padding-top: 5px;padding-bottom: 5px;">
            <h4><strong><i class="fa fa-ticket"></i>Live Status ({{status.user.firstName}} {{status.user.lastName}} is Offline)</strong></h4>                    
        </div>
    </div>

    <div class="row container-fluid user-dashboard-stats-parent-div text-center col-sm-12 col-lg-11">
        <div class="col-sm-12 col-md-12 row " style="padding-right: 0;padding-left: 30px;">
            <div class="col-md-12 user-stats-entry row" style="padding:0;">
                <div class="col-md-12 container-fluid text-center wow animated zoomIn" style="padding-top: 1.5vh;padding-bottom: 1.5vh;">
                    <strong><h4>{{status.user.firstName}}'s Live Activity</h4><hr></strong>

                </div>
                <div class="col-md-3 container-fluid dashboard-page text-center" >
                    <p style="margin-top: 1rem;">Dashboard</p>
                </div>
                <div class="col-md-3 container-fluid tests-page text-center">
                    <p style="margin-top: 1rem;">Viewing Tests</p>
                </div>
                <div class="col-md-3 container-fluid results-page text-center">
                    <p style="margin-top: 1rem;">Viewing Result</p>
                </div>
                <div class="col-md-3 container-fluid test-taking-page text-center">
                    <p style="margin-top: 1rem;">Taking Test</p>
                </div>
            </div>
            <div class="col-md-12 user-stats-entry" style="padding:0;">
                <div class="container-fluid text-center wow animated zoomIn" style="padding-top: 1.5vh;padding-bottom: 1.5vh;">
                    <strong><h4>Live Test Progress Tracking</h4><hr></strong>
                </div>
                <div class="container-fluid start text-center">
                    
                </div>
                <div class="container-fluid answer text-center">
                    
                </div>
                <div class="container-fluid finish text-center">
                    
                </div>
                <div class="container-fluid screen text-center">
                    
                </div>
            </div>
        </div>

    </div>
    
</div>  