 
<!--Jumbotron-->
<div class="jumbotron text-center white-text" id="title">

	<!-- Title and image -->
	<div class="container-fluid row title-home" >

		<!--Title-->
		<div class="col-sm-12 col-md-12 title wow animated fadeIn" data-wow-delay="0.5s">
	    
	    	<h1 class="card-title home-head h2-responsive mt-2 font-bold"><strong>GeekTest</strong></h1>

	    	<h4 class="font-italic"><strong>A Live Test Taking System</strong></h4><br><br>

	    	<button type="button" class="btn btn-rounded started" data-toggle="modal" data-target="#modalLoginForm" >Get Started</button>

		</div>

    </div>

</div>
<!--Jumbotron-->

<!--Steps-->
<div class="container-fluid steps wow" id="steps">

	
	<div class="row wow">
		<!--Steps heading-->
		<div class="col-sm-12 col-md-12  col-lg-8 col-xl-8 steps-heading text-center  wow animated zoomIn" data-wow-delay="0.3s">
			<h1><strong>Why GeekTest?</strong></h1><br><br>


			<hr style="border-top: 2px solid #E4D9FF;">
			<br>
			<h3 style="font-style: italic;"><strong>For all the Geeks there is no place like 127.0.0.1 . Yes we've got you all covered on our platform . Test yourself everyday with our Live Test taking System . Track your progress in tests and make yourself unbeatable.</strong></h3>
			<br>
			<hr style="border-top: 2px solid #E4D9FF;">

		</div>

	</div>
	

    <!--Steps row-->
    <div class="row mt-5 wow text-center">

        <!--First column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>1. Take a Test</strong></h3>                
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>2. Get Result and Analysis</strong></h3>
        
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>3. Evaluate and Improve !</strong></h3>
        
        </div>
        <!--/.Third column-->
    </div>
    <!--/.First row-->

</div>




 <!--Features-->
<div class="container-fluid wow features text-center wow animated zoomIn" data-wow-delay="0.3s" id="features">

	<!--Features title-->
	<div class="row wow text-center">

		<div class="col-lg-8 wow fadeIn features-heading" data-wow-delay="0.3s">

		<h1 class="text-center feature-head"><strong>Features</strong></h1>
		<hr style="border-top: 2px solid #30343F;">        
	    
	    </div>

		
	</div>

	
	<!--Feature Entries-->
	<div class="row mt-5 wow features-login text-center">


	    <!-- Support -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: #0CAB8B;" data-wow-delay="0.3s">

			<i class="fa fa-refresh fa-5x " style="color: #0CAB8B;" aria-hidden="true"></i><br><br>
			<h4><strong>24 x 7 Live</strong></h4>
	    
	    </div>


    	<!-- Chat -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: #C80487;" data-wow-delay="0.3s">

			<i class="fa fa-lock fa-5x " style="color: #C80487;" aria-hidden="true"></i><br><br>
			<h4><strong>Admin Side</strong></h4>
	    
	    </div>


    	<!-- Filter-->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: #C1D701;" data-wow-delay="0.3s">

			<i class="fa fa-user fa-5x " style="color: #C1D701;" aria-hidden="true"></i><br><br>
			<h4><strong>User Side</strong></h4>
	    
	    </div>


    	 <!-- Email -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: #1CAB0C;" data-wow-delay="0.3s">

			<i class="fa fa-envelope fa-5x " style="color: #1CAB0C;" aria-hidden="true"></i><br><br>
			<h4><strong>Toast Notifications</strong></h4>
	    
	    </div>


    	<!-- Search -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: #FE0202;" data-wow-delay="0.3s">

			<i class="fa fa-google-plus fa-5x" style="color: #FE0202;" aria-hidden="true"></i><br><br>
			<h4><strong>Google and Facebook Login</strong></h4>
	    
	    </div>
  

    	<!-- Query Info -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: #9436FE;" data-wow-delay="0.3s">

			<i class="fa fa-area-chart fa-5x" style="color: #9436FE;" aria-hidden="true"></i><br><br>
			<h4><strong>Detailed Analysis</strong></h4>
	    
	    </div>

	</div>

</div>



