<!-- Reset Password -->
<div class="container-fluid reset-password">
	<div class="row">
		<div class="col-xs-12 col-lg-6 reset-form wow animated zoomIn">

		<!-- Reset Form -->
		<form name="userForm" ng-submit="reset.savePassword(regData,userForm.$valid,matched);" novalidate>
		    <p class="h5 text-center mb-4">Forgot Password</p>

		    <!-- New Password -->
		    <div class="md-form form-sm" ng-class="{ 'success':(userForm.firstPassword.$valid && !userForm.firstPassword.$pristine), 'error':(!userForm.firstPassword.$valid && !userForm.firstPassword.$pristine) || (!userForm.firstPassword.$valid && userForm.$submitted)}" >
			    <i class="fa fa-lock prefix"></i>
			    <input type="password" id="form25" class="form-control validate" ng-minlength="8" ng-maxlength="35" ng-pattern="/^((?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W])(?!.*?[\s]).{8,35})+$/" name="firstPassword"  ng-model="firstPassword" required>
			    <label  for="form25">Your password</label>
			    <p class="help-block" ng-show="(!userForm.firstPassword.$pristine && userForm.firstPassword.$error.required) || (userForm.$submitted && userForm.firstPassword.$error.required)">Please Enter your Password</p>
			    <ul class="help-block" ng-show="(!userForm.firstPassword.$pristine && userForm.firstPassword.$error.pattern) || (!userForm.firstPassword.$pristine && userForm.firstPassword.$error.minlength) || (!userForm.firstPassword.$pristine && userForm.firstPassword.$error.maxlength)">
			        <li>Password should have atleast one special character</li>
			        <li>Atleast one number,one lowercase and one uppercase</li>
			        <li>Must be atleast 8 characters and not more than 35 characters</li>
			    </ul>
			</div>

			<!-- Repeat Password -->
			<div class="md-form form-sm" ng-class="{ 'success':matched && !userForm.confirmPassword.$error.required, 'error':(!matched && !userForm.confirmPassword.$error.required) || (userForm.confirmPassword.$error.required && !userForm.confirmPassword.$pristine)}" >
			    <i class="fa fa-lock prefix"></i>
			    <input type="password" id="form26" class="form-control validate"  name="confirmPassword" match="{{firstPassword}}" ng-model="confirm" ng-change="reset.regData.password=confirm" required>
			    <label for="form26">Repeat password</label>
			    <p class="help-block" ng-show="(!userForm.confirmPassword.$pristine && userForm.confirmPassword.$error.required) || (userForm.$submitted && userForm.confirmPassword.$error.required)">Please Enter your Password</p>
			    <p class="help-block" ng-show="!matched && !userForm.confirmPassword.$pristine &&userForm.firstPassword.$valid">Password don't match</p>
			</div>
			<div class="text-center">
		        <button class="btn btn-deep-orange">Submit</button>
		    </div>

		</form>

		<br>

		<!-- Success Message -->
		<div class = "row show-hide-message col-sm-12" ng-show="reset.successMessage">
			<div class="alert alert-success">{{reset.successMessage}}</div>
		</div>

		<br>

		<!-- Error Message -->
		<div class = "row show-hide-message col-sm-12" ng-show="reset.errorMessage">
			<div class="alert alert-danger">{{reset.errorMessage}}</div>
		</div>

	<br>

	</div>

</div>


