<!-- Forgot Password Form -->
<div class="container-fluid forgot-password">
	<div class="row">
		<div class="col-xs-12 col-lg-6 reset-form wow animated zoomIn">

		<!-- Forgot Password Form -->
		<form name ="userForm" ng-submit="reset.sendEmail(resetData,userForm.$valid);" novalidate>
		    <p class="h5 text-center mb-4">Forgot Password</p>

		    <!-- Email -->
		    <div class="md-form form-sm" ng-class="{ 'success':(userForm.email.$valid && !userForm.email.$pristine && !reset.emailInvalid), 'error':(!userForm.email.$valid && !userForm.email.$pristine) || (!userForm.email.$valid && userForm.$submitted) || reset.emailInvalid }">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form24" class="form-control validate"  name="email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-model="reset.resetData.email" ng-blur="reset.checkEmail(resetData);" required>
                <label for="form24">Your email</label>

                <!-- Error if not entered -->
                <p class="help-block" ng-show="((!userForm.email.$pristine && userForm.email.$error.required) || (userForm.$submitted && userForm.email.$error.required))">Please Enter your Email</p>

                <!-- Error in pattern -->
                <ul class="help-block" ng-show="((!userForm.email.$pristine && userForm.email.$error.pattern) || (!userForm.email.$pristine && userForm.email.$error.minlength) || (!userForm.email.$pristine && userForm.email.$error.maxlength))">
                  	<li>Email should contain "@"</li>
                  	<li>No special characters</li>
                  	<li>Must be atleast 3 characters and not more than 25 characters</li>
                </ul>
            </div>

		    <br>

		    <div class="text-center">
		        <button class="btn btn-deep-orange">Submit</button>
		    </div>

		</form>

		<br>

		<!-- Success Message -->
		<div class = "row show-hide-message col-sm-12" ng-show="reset.successMessage">
			<div class="alert alert-success">{{reset.successMessage}}</div>
		</div>

		<br>

		<!-- Error Message -->
		<div class = "row show-hide-message col-sm-12" ng-show="reset.errorMessage">
			<div class="alert alert-danger">{{reset.errorMessage}}</div>
		</div>

	<br>

	</div>

</div>


